.about-container {
  padding: 1rem;
}

.about-img {
  width: 90%;
  box-shadow: 0 0 20px rgba(173, 216, 230, 0.3); 
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* <--------- BREAKTPOINT 768px ---------> */
@media (min-width: 768px) {
  .about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
}