.contact-info {
  background-color: var(--dark-blue);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--white);
  font-size: 0.8rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f9f9fb;
}

textarea {
  height: 5rem;
  resize: none;
}

.submit-btn {
  width:18%;
  background-color: #9de8e1;
  color: white;
  color: var(--dark-blue);
  border: 1px solid var(--white);
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#social-contact {
  background-color: var(--white);
  width: 6rem;
  display: flex;
  justify-content: center;
  padding: 0.1rem;
  padding-top: 0.2rem;
  border-radius: 30px;
}

/* <--------- BREAKTPOINT 768px ---------> */
@media (min-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 32rem;
    align-self: center;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(173, 216, 230, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .contact-info {
    border-radius: 2rem 0 0 2rem;
    padding-top: 0.3rem;
  }

  #social-contact {
    width: 9rem;
  }

  .contact-form {
    background-color: #ffffff83;
    border-radius: 0 2rem 2rem 0;
  }

  .submit-btn {
    cursor: pointer;
  }

  button:hover {
  opacity: 0.9;
  }
}
