.hero {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid var(--light-blue);
}

#apod-display {
    width: 100%;
}

#apod-display img {
    width: 100%;
    max-width: 1800px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid var(--light-blue);
    border-radius: 10px;
}

.hero-title {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0;
}

.apod-info-container {
    padding: 1rem;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }
}