/* header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
} */

span {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
}

.planet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.planets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.planet-btn {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    border: none;
    margin: 1rem;
}

#mercury {
  width: 5rem;
  height: 6rem;
}

#mercury img {
  width: 2rem;
  border-radius: 100%;
}

#venus {
  width: 7rem;
  height: 7rem;
}

#venus img {
  width: 6rem;
  border-radius: 100%;
}

#earth {
  width: 9rem;
}

#earth img {
  width: 8rem;
}

#mars {
  width: 5rem;
}

#mars img {
  width: 4rem;
}

#jupiter {
  width: 14rem;
}

#jupiter img {
  width: 13rem;
}

#saturn {
  width: 12rem;
}

#saturn img {
  width: 11rem;
}

#uranus {
  width: 10rem;
}

#uranus img {
  width: 9rem;
}

#neptune {
  width: 11rem;
}

#neptune img {
  width: 10rem;
}

.info-container {
  position: fixed;
}


/* <--------- BREAKTPOINT 768px ---------> */
@media (min-width: 768px) {
  .planet-btn {
    flex-direction: column;
  }

  .planets-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .descrip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
  }

  .planet-container {
    flex-direction: row;
  }

  #mercury img {
    width: 2rem;
    border-radius: 100%;
  }

  #venus img {
    width: 3rem;
    border-radius: 100%;
  }

  #earth img {
    width: 7rem;
  }

  #mars img {
    width: 4rem;
  }

  #jupiter img {
    width: 11rem;
  }

  #saturn img {
    width: 10rem;
  }

  #uranus img {
    width: 8rem;
  }

  #neptune img {
    width: 9rem;
  }
}