/* GENEREL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: #FFFFFF;
    --light-blue: #ACE8DE;
    --green: #1B451D;
    --dark-blue: #061733;
    --blue: #2D5D85;
    --dark-green: #061309;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 1.8rem;
    font-family: 'Space Mono', monospace;
    color: var(--white);
    background-image: url('../img/space.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.595);
    margin-top: 1.6rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 2rem;
    padding: 0.5rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.595);
    border-bottom: 2px solid gray;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

.page-title {
    font-size: 1rem;
}

footer {
    background-color: var(--blue);
    color: azure;
    font-size: 0.5rem;
    text-align: center;
    padding: 0.8rem;
    border-top: 2px solid var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

h1 {
    font-size: 1rem;
    margin: 1rem;
}

h2 {
    font-size: 0.8rem;
}


p {
    font-size: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--light-blue);
}

a:hover {
    text-decoration: none;
    color: var(--white);
    transform: scale(1.2);
}


.socials-icon {
    width: 1rem;
    height: 1rem;
}

.link-container {
    display: none;
    flex-direction: column;
    width: 40%;
    background-color: var(--light-blue);
    position: absolute;
    top: 3rem;
    text-align: center;
    border: 1px solid var(--dark-blue);
}

.link-container.active {
    display: flex !important;
}

.link-container a {
    font-size: 0.8rem;
}

.dropdown-menu-btn {
    cursor: pointer;
    display: flex;
    background: none;
    color: #FFFFFF;
    justify-content: center; 
    align-items: center;
    font-size: 2rem;
    border: none;
    width: 2rem;
    height: 2rem;
    margin: 0;
}



/* <--------- BREAKTPOINT 768px ---------> */
@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
    }

    nav {
        padding: 0.4rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }

    footer {
        font-size: 1rem;
        border-top: 4px solid var(--white);
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .socials-icon {
        width: 2rem;
        height: 2rem;
        transition: transform 0.3s ease;
    }

    .socials-icon:hover {
        transform: scale(1.2);
        color: #6060a5;
    }

    .dropdown-menu-btn {
        display: none;
    }

    .link-container {
        display: flex !important; 
        flex-direction: row;      
        position: static;         
        width: auto;
        background: transparent;
    }

    .link-container a {
        margin: 0 3rem 0 3rem;
        color: #FFFFFF;
    }

    .link-container a:hover {
        color: var(--light-blue);
        text-decoration: underline;
    }
}

/* .space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
} */