/* GENEREL STYLING */
body {
    margin: 0;
}

footer {
    background-color: rgb(109, 156, 255);
    color: azure;
    font-size: 0.6rem;
    text-align: center;
    padding: 0.8rem;
    border-top: 4px solid azure;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.socials-icon {
    width: 1rem;
    height: 1rem;
}

/* hover effect on desktop
.socials-icon {
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}

.socials-icon img:hover {
    transform: scale(1.5);
} */

/* HOMEPAGE */


/* PLANET PAGE */


/* CONTACT PAGE */


/* ABOUT US PAGE */


/* <--------- BREAKTPOINT 768px ---------> */
@media (min-width: 768px) {
    
}